{{#if (isBlackPiece player)}}
  <div class="black-piece fiche"></div>
{{else}}
  {{#if (isWhitePiece player)}}
    <div class="white-piece fiche"></div>
  {{else}}
    <div class="empty-piece fiche" onclick="Game.Reversi.cellClickListener.call(this)"></div>
  {{/if}}
{{/if}}